.menu {

    background-color: wheat;
    width: 100%;
    height: 800px;
    color: red;
}

/*all four below can be reworked into 2 classes.*/

.recipesMenu {
    margin: auto;
    background-color: aquamarine;
    width: 80%;
    height: 85%;
}

.calculator {
    margin: auto;
    background-color: aqua;
    width: 80%;
    height: 85%;
}

.leftButton {
    width: 200px;
}

.rightButton {
    width: 200px;
}