.menuWrapper {

    background-color: wheat;
    width: 100%;
    height: 100%;
}

/*all four below can be reworked into 2 classes.*/

.drinksMenu {
    background-color: orange;
    width: 100%;
    height: 640px;
    color: olivedrab;
}

.calculatorMenu {
    display: grid;
    grid: repeat(16, auto) / auto-flow;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    background-color: plum;
    width: 100%;
    height: 640px;
    color: maroon;
}

.shiftButton {
    width: 200px;
}


